
<!DOCTYPE html>
<html ng-app="stylingCampersStoriesApp" ng-controller="CamperNewsController">
<head>
 <title>Camper News </title>
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/mystyles.css" type="text/css">
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
</head>
  <body>

<div class="container">
  <div ng-repeat="(key, value) in allData" class=" allCamperPosts">
    <div data-toggle="modal" data-target="#myModalContent"
    ng-style="{'background-image': 'url({{value.author.picture}})'}"
    class="postersPhoto" ng-click="findPostById(value.id); open();">
      <a href="http://www.freecodecamp.com/{{value.author.username}}"> <span class="userName">{{value.author.username}}</span></a>
    </div>
    <div class="detailsSpace">
      <a href="{{value.link}}"> {{value.headline | limitTo: 65}} </a><br><br>
      <img src="css/images/smallerThumbsUp.png" alt="thumbs up" class="thuminIt"> {{value.upVotes.length}}
      <button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModalContent.html" ng-click="open(lg, value.id); findPostById(value.id)">Open me!</button>
    </div>
 </div>
</div>


  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>

  <script src="controllers/CamperNewsController.js" type="text/javascript"></script>
</body>
